@media screen and (max-width: 640px) { table.layout { width: 100% !important; } }
@media screen and (max-width: 480px) { td.layout-column { display: block !important; width: 100% !important; } }
@media (max-width: 320px) { body > center > table { width: 320px; } }